html{
  scroll-behavior: smooth;
}

body{
background-color: #fefefe;
/* background-color: #343434; */
color: #fbfffb;
}

.menu{
    position: absolute;
    margin: auto;
    right: 100px;
}

/* type effect */

#personal-desc p {
    border-right: .15em solid orange;
    font-size: 24px;
    white-space: nowrap;
    overflow: hidden;
    color: #0CB4CE;
  }

  #personal-desc p:nth-child(1) {
    width: 10em;
    -webkit-animation: type 2s steps(40, end);
    animation: type 2s steps(40, end);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  #personal-desc p:nth-child(2) {
    width: 6em;
  opacity: 0;
  -webkit-animation: type2 2s steps(40, end);
  animation: type2 2s steps(40, end);
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  }
  
  /* The typing effect */
  
@keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: .15em solid orange;
    }
    100% {
      border: none;
    }
  }

@-webkit-keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: .15em solid orange;
    }
    100% {
      border: none;
    }
  }

  @keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: .15em solid orange;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }
  
  @-webkit-keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: .15em solid orange;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }

  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  @-webkit-keyframes blink {
    50% {
      border-color: tranparent;
    }
  }
  /* end of type effect */

  #header{
    background-color: #818181;
    font-weight: 600;

  }

  #personal-profile{
    width: 50%;
  }

  #personal-name{
    margin-top: 80px;
    font-size: 36px;
    text-transform: capitalize;
  }

  #personal-image img{
      width: 300px;
  }

#home{
  height: 100vh;
  background-color: #343434;
  color: #fbfffb;
  }

section {
    padding: 60px 0;
    overflow: hidden;
    height: 70vh;
}



  #logo{
    color: #fbfffb;
  }

  #navbar-menu li a {
    color: #fbfffb;
    text-transform: uppercase;
}

#navbar-menu li a:hover {
  color: #0CB4CE;
}

.about-con ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* .about-con ul li:first-child {
  padding: 0 0 12px 0;
} */

.section-title h2{
  color: #343434;
}

.about-con ul li {
  /* border-bottom: 1px solid rgba(235, 235, 235, 0.2); */
  padding: 12px 0;
}

.content-desc{
  background-color: #F1F1F1;
}

.content-desc h3{
  color: #343434;
}

.content-desc ul li{
  color: #9B9B9B;
}

.content-desc p{
  color: #9B9B9B;
}

.exp-con ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.exp-con ul li {
  border-bottom: 1px solid rgba(235, 235, 235, 0.2);
  padding: 12px 0;
}

.pro-exp-con ul{
  list-style: decimal;
}

.personal-contact i{
  font-size: 3em;
  color: #0CB4CE;
}